canvas {
    background: #eee;
    display: block;
    margin: 0 auto;
}

.gameButtonsWrapper {
    margin: 0 auto;
    width: 470px;
    height: 20px;
    padding: 5px;
    background: #333;
    display: flex;
    justify-content: center;
}

input.gameButtons {
    font-family: 'Orbitron', sans-serif;
}

.form-inline {
    font-family: 'Orbitron', sans-serif;
    width: 470px;
    height: 35px;
    margin: 2px;
    padding: 5px;
    background-color: #888;
}

#sendButton {
    font-family: 'Orbitron', sans-serif;
    font-size: small;
    /* display: inline-block; */
    padding: 0.5em 1em;
    text-decoration: none;
    background: #668ad8;
    /*button color*/
    color: #FFF;
    border-bottom: solid 3px #627295;
    border-radius: 2px;
    margin-top: 10px;
    width: 20%;
}

#sendButton:active {
    /*when buttons are pressed*/
    -ms-transform: translateY(4px);
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
    /*move down*/
    border-bottom: none;
    /*vanish the underline*/
}

#entryForm {
    font-family: 'Orbitron', sans-serif;
    margin: auto;
    padding: 10px;
    width: 480px;
    display: flex;
    flex-direction: column;
    background-color: #888;
}

#systemMessageDiv {
    margin: auto;
    width: 480px;
    font-family: 'Press Start 2P', cursive;
}

div.grayBox {
    margin: auto;
    width: 480px;
    display: flex;
}

#chatInputField {
    width: 70%;
}